@font-face {
  font-family: 'ALS Hauss VF';
  src: url('../assets/fonts/ALS_Hauss_VF/ALS_Hauss_Black_1.2.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss VF';
  src: url('../assets/fonts/ALS_Hauss_VF/ALS_Hauss_Bold_1.2.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss VF';
  src: url('../assets/fonts/ALS_Hauss_VF/ALS_Hauss_Medium_1.2.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss VF';
  src: url('../assets/fonts/ALS_Hauss_VF/ALS_Hauss_Regular_1.2.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss VF';
  src: url('../assets/fonts/ALS_Hauss_VF/ALS_Hauss_Light_1.2.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss VF';
  src: url('../assets/fonts/ALS_Hauss_VF/ALS_Hauss_Thin_1.2.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss VF';
  src: url('../assets/fonts/ALS_Hauss_VF/ALS_Hauss_Thin_1.2.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Gorizont';
  src: url('../assets/fonts/ALS_Gorizont/ALS_Gorizont_Bold Expanded_2.1.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Gorizont';
  src: url('../assets/fonts/ALS_Gorizont/ALS_Gorizont_Medium Expanded_2.1.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Gorizont';
  src: url('../assets/fonts/ALS_Gorizont/ALS_Gorizont_Regular Expanded_2.1.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Gorizont';
  src: url('../assets/fonts/ALS_Gorizont/ALS_Gorizont_Light Expanded_2.1.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Gorizont';
  src: url('../assets/fonts/ALS_Gorizont/ALS_Gorizont_Thin Expanded_2.1.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}